<div class="container">
  <h1 class="title">Rick <small>and</small> Morty API</h1>
  <div class="characters">
    <div class="character" *ngFor="let character of characters">
      <img [src]="character.image" [alt]="character.name">
      <div class="description">
        <div class="name">
          <span class="left">name:</span>
          <span class="right">{{ character.name }}</span>
        </div>
        <div>
          <span class="left">status:</span>
          <span class="right">{{ character.status }}</span>
        </div>
        <div>
          <span class="left">species:</span>
          <span class="right">{{ character.species }}</span>
        </div>
      </div>
    </div>
  </div>

  <footer style="text-align:center; color: white;">
    <p>Made with love by <a style="text-decoration: none; color:lightblue" href="https://twitter.com/GazzD" target="_blank">@GazzD</a></p>
  </footer>
</div>

<router-outlet></router-outlet>
